a {
    text-decoration: none;
    color:#4A4A4A;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    display: block;
}

.align-center {
    text-align: center;
}

table.customTable {
    width: 50%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #4A4A4A;
    border-style: solid;
    color: #191919;
    margin: 0 auto;
}

table.customTable td, table.customTable th {
    border-width: 1px;
    border-color: #4A4A4A;
    border-style: solid;
    padding: 5px;
    width: 50%
}

table.customTable thead {
    background-color: #DBDBDB;
}

#form {
    width:300px;
    margin:0 auto;
}

#form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
