<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
<h1 class="align-center">Tasks list</h1>
<table class="customTable">
    <thead>
    <tr>
        <th>Task name</th>
        <th>Execution date</th>
    </tr>
    </thead>
    {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.ExecutionDate|date('Y-m-d') }}</td>
        </tr>

    {% endfor %}
</table>

<a href="{{ path('create_task') }}">Create task</a>

<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>

