{# templates/task/task.html.twig #}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
<h2 class="align-center">Create task form</h2>
{{ form(form) }}
<a href="{{ path('tasks_list') }}">See tasks list</a>
<script src="{{ asset('build/app.js') }}"></script>
</body>
